h1 {
    text-align: center;
}

#div-login {
    display: flex;
    flex-direction: column;
    justify-items: center;

    width: 50%;
    margin: auto;

    border: 1px black solid;
}

#div-login>* {
    margin: 10px;
}

#div-login>input {
    height: 50px;
}

#div-success {
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;

    width: 50%;

    border: 1px black solid;
}

#div-success>img {
    max-width: 500px
}